
body {
  padding-top: 2em;
  padding-bottom: 2em;
}

body.mp h1 {
  margin-bottom: 0em;
}

body.mp .lead {
  margin-bottom: 3em;
  font-size: 1.5em;
}

body.mp .project {
  margin-bottom: 3em;
}

body.mp .repo-meta {
  color: #404040;
}

@media screen and (max-width: 638px) {
  body.mp .row {
    margin: 0;
  }
}
