
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MinnPost Code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="./components/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="./components/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a target="_blank" href="https://twitter.com/minndata">@MinnData</a></li>
        </ul>
        <h3 class="muted">MinnPost Code</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <p class="lead">MinnPost writes a lot of code for various projects and stories.  We also believe in being open about our code and sharing our work, so we put all our code on Github.  But our Github page gets pretty messy.  This site is aimed at making our code a little more understandable.</p>
      </div>

      <hr>

      <div id="repos">
        <div class="loading muted text-center">Loading...</div>
      </div>

      <hr>

      <div class="footer">
        <p>See our work at <a href="http://minnpost.com" target="_blank">MinnPost.com</a></p>
      </div>

    </div> <!-- /container -->
    
    <!-- Client side templates -->
    <script id="template-repos" type="text/template">
      <% var count = 0;  _.each(repos, function(r, n) { %>
        <% if (count % 2 === 0) { %><div class="row-fluid spaced-row"><% } %>
        
        <div class="span6">
          
          <h4><a href="<%= r.html_url %>"><%= r.name %></a> <small class="muted"><%= r.language %></small></h4>
          
          <p><em><%= r.status %></em></p>
          <p><%= r.description %></p>
        </div>
        
        <% if (count % 2 === 1) { %></div><% } %>
        <% count++ %>
      <% }) %>
      
      <% if (count % 2 === 0) { %></div><% } %>
    </script>
    
    <script id="template-error" type="text/template">
        <div class="loading muted text-center">Error: <%= error %></div>
    </script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./components/underscore/underscore-min.js"></script>
    <script src="./components/moment/min/moment.min.js"></script>
    <script src="./components/jquery/jquery.min.js"></script>
    <script src="./components/bootstrap/docs/assets/js/bootstrap.min.js"></script>
    <script src="./js/app.js"></script>

  </body>
</html>
